{% load static%}
{% load crispy_forms_tags %}
<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFTdrop</title>
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" media='screen and (min-width: 900px)' href="{% static 'css/case.css' %}">
    <link rel="stylesheet" media='screen and (min-width: 900px)' href="{% static 'css/main.css' %}">
    <link rel='stylesheet' media='screen and (max-width: 900px)' href="{% static 'css/main_mobile.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <style>
        
    body{
        background-image: url("{% static 'css/background_img.png' %}");
        background-position: 145% 0%;
        background-repeat: no-repeat;
        background-size: auto;
    }
    </style>
</head>
<body>
    <header id="header">
        <a href="{% url 'landing' %}"><img id="logo" src="{% static 'img/logo.png' %}" alt="logo"></a>
        <div id="titles">
            <div id="part1">
                <ul>
                    <li id="unboxing"><a href="{% url 'landing' %}" >Unboxing</a></li>
                    <li id="battles" ><a href="#" >Battles</a></li>
                    <li id="faqs" ><a href="#" >FAQS</a></li>
                </ul>
            </div>
            <div id="part2">
                <ul>
                    {% if not request.user.is_authenticated %}
                    <li id="signin"><a onclick="setTimeout( popup, 200 );" href="#" >Login</a></li>
                    <li id="signup" ><a onclick="setTimeout( popup, 200 );" href="#" id="ezez" >Sign Up</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li id="balance1">
                        <div>${{request.user.profile.balance}}</div>
                        <div id='balance_add1' ><img class="img" src="{% static 'img/plus.png' %}" alt=""></div>
                    </li>
                    <li id="profile"><a href="#" ><img class="img" src="{% static 'img/profile.svg' %}" alt=""> Profile </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
        <div id="live_cont">
            <div id="live_title">live wins</div>
            <div id="win_list">
                <div class="win">
                    <div class='slider'>
                        <figure class="figure3">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">
                            <img class="img" src="{% static 'img/img2.png' %}" alt="">
                            <img class="img" src="{% static 'img/img3.png' %}" alt="">
                            <img class="img" src="{% static 'img/img4.png' %}" alt="">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">  
                        </figure>
                   </div> 
                </div>
                <div class="win">
                    <div class='slider'>
                        <figure class="figure2">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">
                            <img class="img" src="{% static 'img/img2.png' %}" alt="">
                            <img class="img" src="{% static 'img/img3.png' %}" alt="">
                            <img class="img" src="{% static 'img/img4.png' %}" alt="">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">  
                        </figure>
                   </div> 
                </div>
                <div class="win">
                    <div class='slider'>
                        <figure class="figure1">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">
                            <img class="img" src="{% static 'img/img2.png' %}" alt="">
                            <img class="img" src="{% static 'img/img3.png' %}" alt="">
                            <img class="img" src="{% static 'img/img4.png' %}" alt="">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">  
                        </figure>
                   </div> 
                </div>
                <div class="win">
                    <div class='slider'>
                        <figure class="figure2">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">
                            <img class="img" src="{% static 'img/img2.png' %}" alt="">
                            <img class="img" src="{% static 'img/img3.png' %}" alt="">
                            <img class="img" src="{% static 'img/img4.png' %}" alt="">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">  
                        </figure>
                   </div> 
                </div>
                <div class="win">
                    <div class='slider'>
                        <figure class="figure3">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">
                            <img class="img" src="{% static 'img/img2.png' %}" alt="">
                            <img class="img" src="{% static 'img/img3.png' %}" alt="">
                            <img class="img" src="{% static 'img/img4.png' %}" alt="">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">  
                        </figure>
                   </div> 
                </div>
                <div class="win">
                    <div class='slider'>
                        <figure class="figure1">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">
                            <img class="img" src="{% static 'img/img2.png' %}" alt="">
                            <img class="img" src="{% static 'img/img3.png' %}" alt="">
                            <img class="img" src="{% static 'img/img4.png' %}" alt="">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">  
                        </figure>
                   </div> 
                </div>
                <div class="win">
                    <div class='slider'>
                        <figure class="figure2">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">
                            <img class="img" src="{% static 'img/img2.png' %}" alt="">
                            <img class="img" src="{% static 'img/img3.png' %}" alt="">
                            <img class="img" src="{% static 'img/img4.png' %}" alt="">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">  
                        </figure>
                   </div> 
                </div>
                <div class="win">
                    <div class='slider'>
                        <figure class="figure3">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">
                            <img class="img" src="{% static 'img/img2.png' %}" alt="">
                            <img class="img" src="{% static 'img/img3.png' %}" alt="">
                            <img class="img" src="{% static 'img/img4.png' %}" alt="">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">  
                        </figure>
                   </div> 
                </div>
                <div class="win">
                    <div class='slider'>
                        <figure class="figure1">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">
                            <img class="img" src="{% static 'img/img2.png' %}" alt="">
                            <img class="img" src="{% static 'img/img3.png' %}" alt="">
                            <img class="img" src="{% static 'img/img4.png' %}" alt="">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">  
                        </figure>
                   </div> 
                </div>
                <div class="win">
                    <div class='slider'>
                        <figure class="figure2">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">
                            <img class="img" src="{% static 'img/img2.png' %}" alt="">
                            <img class="img" src="{% static 'img/img3.png' %}" alt="">
                            <img class="img" src="{% static 'img/img4.png' %}" alt="">
                            <img class="img" src="{% static 'img/img1.png' %}" alt="">  
                        </figure>
                   </div> 
                </div>
            </div>
        </div>
        <div id="big_cont">
            <a class="btn btn-primary w-100" href="{{ charge.hosted_url }}">Purchase</a>
            <div>
                <a class="donate-with-crypto"
                   href="{{ charge.hosted_url }}">
                  Donate with Crypto
                </a>
                <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
                </script>
              </div>
            <div id="user">
                <img src="{% static 'img/user.png' %}" alt="">
                <div id="user_info">
                    <div id="username">{{request.user.username}}</div>
                    <div id="withdraw">Withdraw</div>
                </div>
            </div>
            <div id="inventory_title">Inventory</div>
            <div id="inventory">
                {% if request.user.profile.nft_1_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_1_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_1_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_1_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_2_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_2_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_2_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_2_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_3_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_3_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_3_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_3_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_4_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_4_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_4_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_4_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_5_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_5_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_5_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_5_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_6_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_6_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_6_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_6_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_7_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_7_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_7_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_7_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_8_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_8_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_8_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_8_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_9_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_9_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_9_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_9_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_10_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_10_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_10_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_10_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_11_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_11_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_11_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_11_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_12_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_12_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_12_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_12_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_13_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_13_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_13_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_13_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_14_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_14_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_14_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_14_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_15_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_15_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_15_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_15_price}}</div>
                </div>
                {% endif %}

                {% if request.user.profile.nft_16_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_16_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_16_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_16_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_17_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_17_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_17_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_17_price}}</div>
                </div>
                {% endif %}
                {% if request.user.profile.nft_18_title != None%}
                <div class="item1">
                    <img class="case_img" src="{{request.user.profile.nft_18_image.url}}" alt="">
                    <div class="case_title">{{request.user.profile.nft_18_title}}</div>
                    <div class="case_price">${{request.user.profile.nft_18_price}}</div>
                </div>
                {% endif %}

            </div>
        </div>
    <footer>
        <div id="social">
            <img src="{% static 'img/fb.png' %}" alt="">
            <img src="{% static 'img/insta.png' %}" alt="">
            <img src="{% static 'img/twitter.png' %}" alt="">
        </div>
        <div id="credit">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repudiandae nihil quod est ratione, voluptates corporis quo aspernatur.</div>
    </footer>
    <div id="add_balance" >
        <div id="balance_cont">
            <div id="login_title">Deposit</div>
            <form action="" name='signup' method="POST">

                <input type="submit" value="Deposit">
            </form>
        </div>
    </div>
    <script>
        
    document.getElementById('balance_add1').addEventListener('click',function(){
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; 
        document.getElementById('add_balance').style.display="flex"
        document.documentElement.style.overflow="hidden"
      },false)
      document.getElementById('add_balance').addEventListener('click',function(){
        var isClickInsideElement = document.getElementById('balance_cont').contains(event.target);
        if (!isClickInsideElement) {
            document.getElementById('add_balance').style.display="none"
            document.documentElement.style.overflow="scroll"
        }    })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
    <script src="{% static 'js/main1.js' %}"></script>
    <script src="{% static 'js/main2.js' %}"></script>
</body>
</html>